<main id="ta_page" class="page_hide">

  <section class=" ui center aligned container ta_intro">
    <h1 class="ui orange huge header">TA Assistance has been requested. You can expect: </h1>
    <div class="ui vertically divided grid olive">
      <div class="two column row">
        <div class="column">
          <p class="lastrow_para">TA 1: First_Name Last_Name</p>
          <img class="ui centered large image" src = "{% static "kiosk/images/tyrion_ta.jpeg" %}" alt="QR code"/>
        </div>
        <div class="column">
          <p class="lastrow_para">TA 2: First_Name Last_Name</p>
          <img class="ui centered large image" src = "{% static "kiosk/images/sansa_ta.jpeg" %}" alt="QR code"/>
        </div>
      </div>
    </div>
  </section>

  <section class="ui center aligned container ta_intro">
  <div class="ui center aligned container intro">
    <h1 class="ui red huge header">Please be patient and couteous </h1>
  </div>
  </section>
</main>
