<!-- index.html -->

{% extends "kiosk/layout.html" %}
{% block body %}
{% load static %}

<div class="ui page dimmer">
  <div class="ui text loader"> Checking your Entry </div>
  <div class="content">
    <div class="alert"></div>
  </div>
</div> 

<main id="welcome_page">
  <section>
    <div class="ui center aligned container intro grey_bckgnd">
      <h1 class="ui orange huge header" style="padding:1em;" >Welcome to ECE Makerspace</h1>
      <h3 class="ui orange large header">For Students and Faculty, to enter, please scan your ID card by flashing through barcode reader or magnetic stripe reader. </h3>
    </div>
  </section>

  <section class=" ui center aligned container intro">
  <form action='' method='POST'> {% csrf_token %}
    <div class = "ui massive form" >
      <div class = "required field" >
        <label style="padding:1em;"> Kindly enter your PID and submit if you are not carrying your UCSD ID </label>
        <input placeholder = "Enter PID" type = "text" name='pid'>
        <h1 id="input_null" class='ui red large left aligned header'></h1> 
      </div>
      <button class="ui primary submit button" id="check_user"> Submit </button>
    </div>
  </form>
  </section>

  <section class="ui center aligned container intro grey_bckgnd">
  <form action='' method='POST'> {% csrf_token %}
    <div class="ui vertically divided grid">
      <div class="two column row">
        <div class="column">
          <p class="lastrow_para">If a visitor, you may request TA assistance for lab tour.</p>
          <button class="huge ui brown button submit" id="ta_call" style="width:80%">Request TA Assistance</button>         
        </div>
        <div class="column">
          <p class="lastrow_para">For gaining access to Makerspace, please fill it out the form at the following URL, http://www.gotourl.com</p>
          <img class="ui centered small image" src = "{% static "kiosk/images/qrcode.jpeg" %}" alt="QR code"/>
        </div>
      </div>
    </div>
  </form>
  </section>
</main>

<main id="authorized_page" class="page_hide">

  <section>
    <div class="ui center aligned container intro grey_bckgnd">
      <h1 class="ui orange huge header" style="padding:1em;">Welcome <span id='username'></span>, Please ENTER</h1>
      <h3 class="ui orange large header">Kindly enter the lab in next 10 seconds. </h3>
    </div>
  </section>

  <section class=" ui center aligned container intro">
    <div class="ui vertically divided grid" style="padding-top:1em;">
      <div class="two column row">
        <div class="column">
          <p class="ta_font">TA 1: First_Name Last_Name</p>
          <img class="ui centered small image" src = "{% static "kiosk/images/tyrion_ta.jpeg" %}" alt="QR code"/>
        </div>
        <div class="column">
          <p class="ta_font">TA 2: First_Name Last_Name</p>
          <img class="ui centered small image" src = "{% static "kiosk/images/sansa_ta.jpeg" %}" alt="QR code"/>
        </div>
      </div>
    </div>
  </section>

  <section class="ui center aligned container intro grey_bckgnd">
  <div class="ui center aligned container intro">
    <h1 class="ui olive huge header" style="padding:1em;">Please Remember</h1>
    <ol class="ui list">
      <li value="*">No FOOD including
        <ol>
          <li value="-">Covered Coffee</li>
          <li value="-">Covered Food</li>
          <li value="-">Snacks</li>
        </ol>
      </li>
      <li value="*">Be curteous to TA</li>
    </ol>
  </div>
  </section>
</main>

<main id="ta_page" class="page_hide">

  <section class=" ui center aligned container ta_intro_66 grey_bckgnd">
    <h1 class="ui orange huge header" style="padding:1em;">TA Assistance has been requested. You can expect: </h1>
    <div class="ui vertically divided grid olive">
      <div class="two column row">
        <div class="column">
          <p class="ta_font">TA 1: First_Name Last_Name</p>
          <img class="ui centered medium image" src = "{% static "kiosk/images/tyrion_ta.jpeg" %}" alt="QR code"/>
        </div>
        <div class="column">
          <p class="ta_font">TA 2: First_Name Last_Name</p>
          <img class="ui centered medium image" src = "{% static "kiosk/images/sansa_ta.jpeg" %}" alt="QR code"/>
        </div>
      </div>
    </div>
  </section>

  <section class="ui center aligned container ta_intro_33">
  <div class="ui center aligned container intro">
    <h1 class="ui olive huge header" style="padding:1em;">Please be patient and courteous </h1>
  </div>
  </section>
</main>

{% endblock %}
