<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kiosk/kiosk_semantic.css' %}" />
    <link rel="shortcut icon" type="image/jpeg" href="{% static "kiosk/images/favicon.ico" %}">
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{% static 'semantic.js' %}"></script>

    <script type="text/javascript" src="{% static 'kiosk/kiosk.js' %}"> </script>

  </body>
</html>
