.intro {
  height:33vh;
}
.ta_intro_66 {
  height:66vh;
}

.ta_intro_33 {
  height:33vh;
}

.ta_font {
  font-size:1.2em;
}
.lastrow_para {
  color:olive;
  font-size:1.2em;
}

li {
  color:olive;
}
.page_hide {
  display: none;
}
/* The alert message box */
.alert {
    /*background-color: #f44336;  Red */
  color: white;
  font-size: 4em;
}
.grey_bckgnd {
  background-color:#ecf0f1;
}
